<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners><listener class-name="listeners.TestNGListeners"></listener></listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="swaglabs.Loginsteps"/>
      <class name="swaglabs.Hooks"/>
      <class name="swaglabs.ProductpageTests"/>
      <class name="swaglabs.CartTests"/>
      <class name="swaglabs.CheckoutTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
